
{% extends "layouts/base.njk" %}

{% block header %}
    
    {% include 'partials/navigation.njk'%}
{% endblock %}

{% block content %}
    
    <div class="uk-container uk-margin">
        Контент
    </div>
{% endblock %}